@import url(main-disp.css);
@import url(soft-main-disp.css);
@import url(thumblist.css);
@import url(thumb-text.css);

.carousel {
    display: flex;
    padding-left: 5%;
    width: 80%;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .carousel {
       flex-direction: column-reverse;
       padding: 0;
       width: 100%;
    }
}
