@import url(tabs.css);
@media screen and (max-width: 1200px) {
    .title {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 4em;
    }
}

.title {
    box-sizing: border-box;
    margin-bottom: 16%;
    min-height: 150px;
    height: 10%;
    letter-spacing: 2px;
    font-weight: bolder;
    opacity: 0;
    filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.9));
    -webkit-filter: drop-shadow(1px 1px 0px rgba(255, 255, 255, 0.9));
    transition: all var(--anim-speed-med);
    -webkit-transition: all var(--anim-speed-med);
    -moz-transition: all var(--anim-speed-med);
    -ms-transition: all var(--anim-speed-med);
    -o-transition: all var(--anim-speed-med);
}
